.list-group-item {
    width: 100%;
    margin-bottom: 3px;
    border: 2px solid #CED4DA !important;
    border-radius: 5px !important;

}

.forborder {
    border: 2px solid #CED4DA !important;
}

.header {
    margin-top: 30px;
    justify-content: space-between !important;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
    margin: 2rem !important;
}

.fordesign {
    border: 2px solid #CED4DA;
    border-radius: 5px;
    padding: 15px;
    height: 100%;
}

h3 {
    text-align: center;
    margin: 5px !important;
}

.forplus {
    width: 100% !important;
    display: flex;
    justify-content: flex-end;
}

.forplus :hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

h4 {
    text-align: center;
    justify-content: center;
    margin: 0% !important;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
}

ul {
    height: 420px;
}

#context-menu {
    position: fixed;
    z-index: 10000;
    width: 150px;
    background: #CED4DA;
    border-radius: 5px;
    transform: scale(0);
    transform-origin: top left;
}

#context-menu .item {
    padding: 8px 10px;
    font-size: 15px;
    color: black;
    cursor: pointer;
    border-radius: inherit;
}

#context-menu .item:hover {
    background: #343434;
    color: #CED4DA;
}

#context-menu.visible {
    transform: scale(1);
    transition: transform 200ms ease-in-out;
}

.resBut {
    width: 90px !important;
}
.resBut1 {
    width: 90px !important;
}
.resBut2 {
    width: 90px !important;
}
body {
    text-align: center;
}

